In [46]:
import pandas as pd

In [47]:
df_chick1=pd.read_clipboard()
df_chick1

                            #Datasets  #sum_counts_chick1
0                Bacteroides fragilis             1914737
1        Bacteroides thetaiotaomicron              314848
2            Fusobacterium mortiferum             2437366
3              Fusobacterium ulcerans             1743746
4                Fusobacterium varium            10458290
5        Fusobacterium sp. HMSC073F01              568245
6          Aquincola tertiaricarbonis              293069
7                 Tepidicella xavieri              197557
8                  Campylobacter coli              165055
9                    Escherichia coli             3641933
10                Salmonella enterica              149880
11                  Proteus mirabilis              273832
12  Pseudogracilibacillus auburnensis              872793
13                 Enterococcus avium             2241906
14         Enterococcus casseliflavus              882596
15               Enterococcus cecorum             5056210
16              Enterococcus faecalis             6839153
17               Enterococcus faecium             1041309
18            Enterococcus gallinarum            10934723
19                 Enterococcus hirae              452245
20       Enterococcus saccharolyticus              283563
21            Enterococcus sp. HSIEG1              697748
22               Lactobacillus agilis              727582
23           Lactobacillus amylovorus              476955
24             Lactobacillus aviarius             1013914
25            Lactobacillus crispatus              231412
26          Lactobacillus delbrueckii              242734
27           Lactobacillus gigeriorum             1729870
28            Lactobacillus ingluviei              601041
29            Lactobacillus johnsonii              342670
30          Lactobacillus kitasatonis             1213713
31           Lactobacillus saerimneri              317632
32           Lactobacillus salivarius             1106687
33           [Clostridium] spiroforme              184464
34          Faecalicoccus pleomorphus              280670
35                  Veillonella magna              195247

In [48]:
df_chick2=pd.read_clipboard()
df_chick2

                            #Datasets  #sum_counts_chick2
0                uncultured bacterium               50266
1                Bacteroides fragilis              121839
2                Bacteroides plebeius               40731
3          uncultured Bacteroides sp.               36017
4       Sediminibacterium goheungense               69552
..                                ...                 ...
62          Faecalitalea cylindroides               89555
63       Massilimicrobiota timonensis               34221
64             Traorella massiliensis               49402
65  Phascolarctobacterium sp. CAG:266               59639
66              Megamonas rupellensis               39882

[67 rows x 2 columns]

In [49]:
dfmerged = df_chick1.merge(df_chick2, on = "#Datasets", how = 'outer')
dfmerged

                            #Datasets  #sum_counts_chick1  #sum_counts_chick2
0                Bacteroides fragilis           1914737.0            121839.0
1        Bacteroides thetaiotaomicron            314848.0                 NaN
2            Fusobacterium mortiferum           2437366.0            505125.0
3              Fusobacterium ulcerans           1743746.0                 NaN
4                Fusobacterium varium          10458290.0                 NaN
..                                ...                 ...                 ...
77          Faecalitalea cylindroides                 NaN             89555.0
78       Massilimicrobiota timonensis                 NaN             34221.0
79             Traorella massiliensis                 NaN             49402.0
80  Phascolarctobacterium sp. CAG:266                 NaN             59639.0
81              Megamonas rupellensis                 NaN             39882.0

[82 rows x 3 columns]

In [50]:
#this is a panda dataframe; if you are using a numpy dataframe then you cannot use fillna, instead use X.replace(np.nan,0)
dfmerged = dfmerged.fillna(0)
dfmerged = dfmerged.T
dfmerged

,0,1,2,3,4,5,6,7,8,9,...,72,73,74,75,76,77,78,79,80,81
#Datasets,Bacteroides fragilis,Bacteroides thetaiotaomicron,Fusobacterium mortiferum,Fusobacterium ulcerans,Fusobacterium varium,Fusobacterium sp. HMSC073F01,Aquincola tertiaricarbonis,Tepidicella xavieri,Campylobacter coli,Escherichia coli,...,Romboutsia timonensis,Terrisporobacter glycolicus,Terrisporobacter othiniensis,Peptostreptococcaceae bacterium,Pseudoflavonifractor sp. An85,Faecalitalea cylindroides,Massilimicrobiota timonensis,Traorella massiliensis,Phascolarctobacterium sp. CAG:266,Megamonas rupellensis
#sum_counts_chick1,1.91474e+06,314848,2.43737e+06,1.74375e+06,1.04583e+07,568245,293069,197557,165055,3.64193e+06,...,0,0,0,0,0,0,0,0,0,0
#sum_counts_chick2,121839,0,505125,0,0,0,310784,0,43588,208289,...,46875,228688,175630,339262,40100,89555,34221,49402,59639,39882

In [51]:
import numpy as npy

In [52]:
from skbio.stats.composition import multiplicative_replacement as MR

In [60]:
#MAKE AN ARRAY IN ORDER TO APPLY MR
ind=["#sum_counts_chick1", "#sum_counts_chick2"]#look for columns 
X = npy.array(dfmerged.T[ind], dtype="float64")
X = X.T
X

array([[ 1914737.,   314848.,  2437366.,  1743746., 10458290.,   568245.,
          293069.,   197557.,   165055.,  3641933.,   149880.,   273832.,
          872793.,  2241906.,   882596.,  5056210.,  6839153.,  1041309.,
        10934723.,   452245.,   283563.,   697748.,   727582.,   476955.,
         1013914.,   231412.,   242734.,  1729870.,   601041.,   342670.,
         1213713.,   317632.,  1106687.,   184464.,   280670.,   195247.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.,        0.,        0.,
               0.,        0.,        0.,        0.],
       [  121839.,        0.,   505125.,        0.,        0.,        0.,
          310784.,        0.,    43588.,   208289.,        0.,        0.,
           47383.,        0.,        0.,  4412127.,    58860.,   450192.,
          222971.,   161363.,        0.,        0.,   102772.,   123483.,
          340721.,   276267.,    38539.,        0.,        0.,    35050.,
          271099.,        0.,   215128.,   325924.,    64513.,        0.,
           50266.,    40731.,    36017.,    69552.,    34550.,    91122.,
           47350.,    57361.,    47314.,    34737.,    70457.,    37425.,
           39780.,    67586.,   272866.,    54116.,    47094.,   133521.,
          214258.,    95432.,    35960.,    42094.,    78783.,    35581.,
           57767.,    65945.,  2663485.,    56663.,    55688.,   134918.,
           46211.,   188556.,   511318.,    48360.,  1078860.,    39370.,
           46875.,   228688.,   175630.,   339262.,    40100.,    89555.,
           34221.,    49402.,    59639.,    39882.]])

In [61]:
MultX=MR(X)
MultX

array([[3.16278665e-02, 5.20069885e-03, 4.02607180e-02, 2.88034157e-02,
        1.72751349e-01, 9.38634235e-03, 4.84095059e-03, 3.26327136e-03,
        2.72639924e-03, 6.01579072e-02, 2.47573668e-03, 4.52319140e-03,
        1.44169045e-02, 3.70320852e-02, 1.45788317e-02, 8.35191125e-02,
        1.12969989e-01, 1.72004730e-02, 1.80621129e-01, 7.47023977e-03,
        4.68392929e-03, 1.15254892e-02, 1.20182910e-02, 7.87840266e-03,
        1.67479589e-02, 3.82249251e-03, 4.00951073e-03, 2.85742102e-02,
        9.92807081e-03, 5.66026614e-03, 2.00482639e-02, 5.24668531e-03,
        1.82803950e-02, 3.04699954e-03, 4.63614235e-03, 3.22511449e-03,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.48720999e-04, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04],
       [7.54121881e-03, 1.48720999e-04, 3.12646866e-02, 1.48720999e-04,
        1.48720999e-04, 1.48720999e-04, 1.92359601e-02, 1.48720999e-04,
        2.69787708e-03, 1.28920372e-02, 1.48720999e-04, 1.48720999e-04,
        2.93276841e-03, 1.48720999e-04, 1.48720999e-04, 2.73088380e-01,
        3.64313675e-03, 2.78646113e-02, 1.38007789e-02, 9.98755481e-03,
        1.48720999e-04, 1.48720999e-04, 6.36106780e-03, 7.64297411e-03,
        2.10889092e-02, 1.70995321e-02, 2.38536948e-03, 1.48720999e-04,
        1.48720999e-04, 2.16941800e-03, 1.67796590e-02, 1.48720999e-04,
        1.33153368e-02, 2.01730497e-02, 3.99302891e-03, 1.48720999e-04,
        3.11121155e-03, 2.52104321e-03, 2.22927041e-03, 4.30491756e-03,
        2.13847052e-03, 5.63999163e-03, 2.93072588e-03, 3.55035622e-03,
        2.92849766e-03, 2.15004488e-03, 4.36093249e-03, 2.31641850e-03,
        2.46218111e-03, 4.18323209e-03, 1.68890274e-02, 3.34950711e-03,
        2.91488077e-03, 8.26427561e-03, 1.32614882e-02, 5.90675886e-03,
        2.22574240e-03, 2.60540602e-03, 4.87626984e-03, 2.20228421e-03,
        3.57548557e-03, 4.08166248e-03, 1.64856271e-01, 3.50715355e-03,
        3.44680597e-03, 8.35074286e-03, 2.86022753e-03, 1.16706642e-02,
        3.16480020e-02, 2.99323978e-03, 6.67759857e-02, 2.43680418e-03,
        2.90132578e-03, 1.41546323e-02, 1.08706101e-02, 2.09986045e-02,
        2.48198749e-03, 5.54300224e-03, 2.11810708e-03, 3.05773432e-03,
        3.69135292e-03, 2.46849439e-03]])

In [62]:
from skbio.stats.composition import clr

In [63]:
clrX=clr(MultX)

clrX

array([[ 3.41529255,  1.61004698,  3.65663022,  3.32174795,  5.11310724,
         2.20050966,  1.53836507,  1.14398415,  0.96423575,  4.05822686,
         0.86779197,  1.47047178,  2.62965541,  3.57303867,  2.64082456,
         4.38632947,  4.68837617,  2.80619085,  5.1576556 ,  1.97218106,
         1.50539132,  2.405815  ,  2.4476837 ,  2.02537914,  2.77953036,
         1.30215667,  1.34992319,  3.31375854,  2.25662015,  1.69472488,
         2.95939653,  1.61885048,  2.86708314,  1.07541132,  1.4951366 ,
         1.13222242, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925, -1.94442925, -1.94442925, -1.94442925,
        -1.94442925, -1.94442925],
       [ 0.87924374, -3.04682329,  2.30134917, -3.04682329, -3.04682329,
        -3.04682329,  1.81564138, -3.04682329, -0.14867487,  1.41546978,
        -3.04682329, -3.04682329, -0.06519324, -3.04682329, -3.04682329,
         4.46865541,  0.15170498,  2.1862174 ,  1.48358496,  1.16019973,
        -3.04682329, -3.04682329,  0.70905618,  0.89264674,  1.9076072 ,
         1.69791103, -0.27178604, -3.04682329, -3.04682329, -0.36668114,
         1.67902731, -3.04682329,  1.44777644,  1.86320747,  0.24341   ,
        -3.04682329, -0.00612785, -0.21646728, -0.33946571,  0.31861792,
        -0.38104921,  0.58874251, -0.06588994,  0.12590787, -0.06665052,
        -0.37565136,  0.33154584, -0.30111783, -0.24009248,  0.2899441 ,
         1.68552407,  0.06767313, -0.07131115,  0.97080201,  1.44372414,
         0.63495719, -0.34104955, -0.18355155,  0.44324048, -0.35164497,
         0.13296092,  0.2653643 ,  3.96393394,  0.11366468,  0.09630793,
         0.98121043, -0.09023889,  1.31593829,  2.31353495, -0.04478373,
         3.06020345, -0.25045265, -0.07597227,  1.50890187,  1.24492275,
         1.90331591, -0.23208042,  0.5713962 , -0.39061727, -0.02346585,
         0.16485296, -0.23753166]])

In [67]:
dfmerged = dfmerged.T
clrX = npy.transpose(clrX)
clrX

array([[ 3.41529255,  0.87924374],
       [ 1.61004698, -3.04682329],
       [ 3.65663022,  2.30134917],
       [ 3.32174795, -3.04682329],
       [ 5.11310724, -3.04682329],
       [ 2.20050966, -3.04682329],
       [ 1.53836507,  1.81564138],
       [ 1.14398415, -3.04682329],
       [ 0.96423575, -0.14867487],
       [ 4.05822686,  1.41546978],
       [ 0.86779197, -3.04682329],
       [ 1.47047178, -3.04682329],
       [ 2.62965541, -0.06519324],
       [ 3.57303867, -3.04682329],
       [ 2.64082456, -3.04682329],
       [ 4.38632947,  4.46865541],
       [ 4.68837617,  0.15170498],
       [ 2.80619085,  2.1862174 ],
       [ 5.1576556 ,  1.48358496],
       [ 1.97218106,  1.16019973],
       [ 1.50539132, -3.04682329],
       [ 2.405815  , -3.04682329],
       [ 2.4476837 ,  0.70905618],
       [ 2.02537914,  0.89264674],
       [ 2.77953036,  1.9076072 ],
       [ 1.30215667,  1.69791103],
       [ 1.34992319, -0.27178604],
       [ 3.31375854, -3.04682329],
       [ 2.25662015, -3.04682329],
       [ 1.69472488, -0.36668114],
       [ 2.95939653,  1.67902731],
       [ 1.61885048, -3.04682329],
       [ 2.86708314,  1.44777644],
       [ 1.07541132,  1.86320747],
       [ 1.4951366 ,  0.24341   ],
       [ 1.13222242, -3.04682329],
       [-1.94442925, -0.00612785],
       [-1.94442925, -0.21646728],
       [-1.94442925, -0.33946571],
       [-1.94442925,  0.31861792],
       [-1.94442925, -0.38104921],
       [-1.94442925,  0.58874251],
       [-1.94442925, -0.06588994],
       [-1.94442925,  0.12590787],
       [-1.94442925, -0.06665052],
       [-1.94442925, -0.37565136],
       [-1.94442925,  0.33154584],
       [-1.94442925, -0.30111783],
       [-1.94442925, -0.24009248],
       [-1.94442925,  0.2899441 ],
       [-1.94442925,  1.68552407],
       [-1.94442925,  0.06767313],
       [-1.94442925, -0.07131115],
       [-1.94442925,  0.97080201],
       [-1.94442925,  1.44372414],
       [-1.94442925,  0.63495719],
       [-1.94442925, -0.34104955],
       [-1.94442925, -0.18355155],
       [-1.94442925,  0.44324048],
       [-1.94442925, -0.35164497],
       [-1.94442925,  0.13296092],
       [-1.94442925,  0.2653643 ],
       [-1.94442925,  3.96393394],
       [-1.94442925,  0.11366468],
       [-1.94442925,  0.09630793],
       [-1.94442925,  0.98121043],
       [-1.94442925, -0.09023889],
       [-1.94442925,  1.31593829],
       [-1.94442925,  2.31353495],
       [-1.94442925, -0.04478373],
       [-1.94442925,  3.06020345],
       [-1.94442925, -0.25045265],
       [-1.94442925, -0.07597227],
       [-1.94442925,  1.50890187],
       [-1.94442925,  1.24492275],
       [-1.94442925,  1.90331591],
       [-1.94442925, -0.23208042],
       [-1.94442925,  0.5713962 ],
       [-1.94442925, -0.39061727],
       [-1.94442925, -0.02346585],
       [-1.94442925,  0.16485296],
       [-1.94442925, -0.23753166]])

In [68]:
dfmerged["#sum_counts_chick1"] = clrX[:,0]
dfmerged["#sum_counts_chick2"] = clrX[:,1]
dfmerged

                            #Datasets  #sum_counts_chick1  #sum_counts_chick2
0                Bacteroides fragilis            3.415293            0.879244
1        Bacteroides thetaiotaomicron            1.610047           -3.046823
2            Fusobacterium mortiferum            3.656630            2.301349
3              Fusobacterium ulcerans            3.321748           -3.046823
4                Fusobacterium varium            5.113107           -3.046823
..                                ...                 ...                 ...
77          Faecalitalea cylindroides           -1.944429            0.571396
78       Massilimicrobiota timonensis           -1.944429           -0.390617
79             Traorella massiliensis           -1.944429           -0.023466
80  Phascolarctobacterium sp. CAG:266           -1.944429            0.164853
81              Megamonas rupellensis           -1.944429           -0.237532

[82 rows x 3 columns]

In [69]:
dfmerged.to_csv('Fifth_Attempt_data_MR&clr_chick1_chick2.csv')